<a href="https://colab.research.google.com/github/XiaoLiang28/Datamanagement/blob/main/Class1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
x=5
print(x)
print(x == 5)
print(x !=5)
print(type(x))
y = "Paris"
print(type(y))
print("x is an integer")
print("(x) is an integer")
print(f"(x) is an integer")

5
True
False
<class 'int'>
<class 'str'>
x is an integer

In [6]:
print(x >4 and x <8)
print(x >4 or x >8)

True
True

In [10]:
list1 = [x,y,3.14, "3.14"]
print(list1)
print(f"first element is {list1[0]}")
list1.append("new element")
print(list1)
list1.remove("new element")
print(list1)

[5, 'Paris', 3.14, '3.14']
first element is 5
[5, 'Paris', 3.14, '3.14', 'new element']
[5, 'Paris', 3.14, '3.14']

In [11]:
print("Paris" in list1)
print("Paris" not in list1)
print(777 in list1)

True
False
False

In [15]:
for i in range(5):
  print(i) # control,flow
print("_" * 80)
for i in list1:
  print(i)
  print(1 * 2)

0
1
2
3
4
________________________________________________________________________________
5
2
Paris
2
3.14
2
3.14
2

In [16]:
N = len(list1)
for i in range(N):
  print(list1[i])# i is the index,from 0 to N(excluded)
for i in list1:
  print(i)

5
Paris
3.14
3.14
5
Paris
3.14
3.14

In [17]:
for i in list1[1]: # Paris
  print(i) # string is also an iterable object

P
a
r
i
s

In [20]:
# conditional statements
if x == 5:
  print("Proceed")
print("_" * 80)
if x >6:
  print("Proceed")
else:
  print("Stop")
print("_" * 80)
if "Paris" in list1:
  print("France")
else:
  print("Not France")

Proceed
________________________________________________________________________________
Stop
________________________________________________________________________________
France